#sf_admin_container select.sf_admin_multiple, #sf_admin_container select.sf_admin_multiple-selected {
	width: 24em;
}

div#header {
	border-bottom:8px solid #CCCCFF;
	height: 25px;
}

div#topright {
  float: right;
}

div#logo {
	margin-bottom: 10px;
}

div#header ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#header ul li {
	display: inline;
	line-height:1.4;
}

div#header ul li a {
	background-image:url(../images/backend/tab.png);
	background-position: 4px center;
	background-repeat:no-repeat;
	background-color:#EEEEFF;
	color:#000000;
	display:block;
	float: left;
	font-weight:bold;
	height:15px;
	padding:5px;
	padding-left: 24px;
	text-align:center;
	text-decoration:none;
	text-shadow:#2A2A2F 2px 2px 1px;
}

div#header ul#topmenu li a {
	margin-right:5px;
}

div#header ul#toprightmenu li a {
	margin-left:5px;
}

div#header ul li a:hover, div#header ul li a:active {
	/*background-position:left top;*/
	background-color:#CCCCFF;
}

div#header ul li a.selected {
	/*background-position:left bottom;*/
	background-color:#CCCCFF;
}

div#header ul li.contact a {
  background-image:url(../images/backend/user_suit.png);
}

div#header ul li.contactgroup a {
  background-image:url(../images/backend/group.png);
}

div#header ul li.os a {
  background-image:url(../images/backend/tux.png);
}

div#header ul li.service a {
  background-image:url(../images/backend/bricks.png);
}

div#header ul li.hostgroup a {
  background-image:url(../images/backend/computer_link.png);
}

div#header ul li.host a {
  background-image:url(../images/backend/computer.png);
}

div#header ul li.command a {
  background-image:url(../images/backend/application_xp_terminal.png);
}

div#header ul li.template a {
  background-image:url(../images/backend/script_code.png);
}

div#header ul li.generator a {
  background-image:url(../images/backend/cog.png);
}

div#header ul li.language a {
  background-image:url(../images/backend/world.png);
}

div#header ul li.help a {
  background-image:url(../images/backend/help.png);
}

del {
	background-color: #FF8080;
}

ins {
	background-color: #80FF80;
}

pre.fixed {
	padding: 10px !important;
}
