#sf_admin_container select.sf_admin_multiple, #sf_admin_container select.sf_admin_multiple-selected {
	width: 24em;
}

div#header {
	border-bottom:8px solid #CCCCFF;
	height: 25px;
}

ul#topmenu {
	clear:both;
	/*float:right;*/
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position:relative;
	/*top:3px;*/
}

ul#topmenu li {
	float:left;
	line-height:1.4;
	margin-right:5px;
}

ul#topmenu li a {
	background-image:url(../images/backend/tab.png);
	background-position: 4px center;
	background-repeat:no-repeat;
	background-color:#EEEEFF;
	color:#000000;
	display:block;
	font-weight:bold;
	height:15px;
	padding:5px;
	padding-left: 24px;
	text-align:center;
	text-decoration:none;
	text-shadow:#2A2A2F 2px 2px 1px;
	/*width:85px;*/
}

ul#topmenu li a:hover, ul#topmenu li a:active {
	/*background-position:left top;*/
	background-color:#CCCCFF;
}

ul#topmenu li a.selected {
	/*background-position:left bottom;*/
	background-color:#CCCCFF;
}

ul#topmenu li.contact a {
  background-image:url(../images/backend/user_suit.png);
}

ul#topmenu li.contactgroup a {
  background-image:url(../images/backend/group.png);
}

ul#topmenu li.os a {
  background-image:url(../images/backend/tux.png);
}

ul#topmenu li.service a {
  background-image:url(../images/backend/bricks.png);
}

ul#topmenu li.hostgroup a {
  background-image:url(../images/backend/computer_link.png);
}

ul#topmenu li.host a {
  background-image:url(../images/backend/computer.png);
}

ul#topmenu li.command a {
  background-image:url(../images/backend/application_xp_terminal.png);
}

ul#topmenu li.template a {
  background-image:url(../images/backend/script_code.png);
}

ul#topmenu li.generator a {
  background-image:url(../images/backend/cog.png);
}

del {
	background-color: #FF8080;
}

ins {
	background-color: #80FF80;
}

pre.fixed {
	padding: 10px !important;
}
